.details{
    margin: 10px 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {
    .details{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    } 
}